/* section {
    color: red;
} */

/* .bienvenue {
    color:red;
} */
/* p a {
    color:red;
}
a[title="Accueil"] {
    color:red;
} */
p {
    /* font-size: 1em; */
    /* font-family: 'Roboto' , sans-serif; */
    /* text-align: justify; */
}

h1 {
  font-family: 'skymoon' , arial , sans-serif;
  /* text-align: center;  left , center, right , justify */
  /* border-bottom: 1px black solid; */
  /* box-shadow: 0px 5px 5px black; */
  /* text-shadow: 3px 3px 3px silver; */
  margin-top: 0;
  padding-top: 30px;
}
h2 {
    font-family: 'Open Sans' , sans-serif;
    /* font-weight: normal;    mettre l ecriture  normal  */
    /* font-style: italic;
    text-decoration: underline; */
    font-size: 1.5em;
    width: 400px;
    margin: auto;
}
header {
    text-align: center; 
    /* background:#1D1D1D; */
    color: #F4F7f6;
    padding-bottom: 30px;
    background: #5C258D;
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    background: linear-gradient(to right, #4389A2, #5C258D);
    /* height: 100%;
    min-width: 500px; */
}
section {
    text-align: center;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: #f4f4f4 ; */
    /* background: url('https://img.freepik.com/photos-gratuite/concept-decoration-sol-bois-naturel_53876-31866.jpg') no-repeat center center; */
    /* background-image: url('https://img.freepik.com/photos-gratuite/concept-decoration-sol-bois-naturel_53876-31866.jpg');
    background-attachment: scroll;
    background-position: center center; */
    border: 1px pink double;
    background: #F4F7f6;
    margin:0;
}

footer {
   /* font-weight : bold;   mettre l ecriture  en gras */
   background:#1D1D1D;
   color: #FFFF;
   text-align: center;
   padding: 15px;
}
* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color : black;
}
ul {
    padding: 0;
    /* text-align: center; */
}
nav {
    text-align: center;
    background: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
    padding: 15px;
    position: relative;
    left:0px;
    right: 0px;
}

li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}
li:hover {
    font-weight: bold;
}
/* a[title="Contact"] {
    display: block;
} */
#logo {
   /* float: left; */
   margin-top: 30px;
   width: 50px;
}
h3:before {
    content: "« ";
    color:grey;
}
h3 {
   /* clear: left; */
   font-size: 1.5em;
   text-transform: uppercase;
}
h3:after {
    content: " »";
    color:grey;
}
h1:active {
  color:red;
}
a:focus {
    color:aqua;
}

/* ID */
#contact {
    border:1px black solid;
    border-radius: 15 px;
    padding: 30px;
    margin-bottom: 50px;  /* margin externe vers le bas */
}
#projet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#picture-projet img {
    width: 90%;
}
/* CLASSE */
.separator {
    width: 40px;
    height: 1px;
    margin: 15px auto;
}
.contener {
    width: 80%;
    margin: auto;
}
.projet{
    width: 400px;
    margin: 30px;
    display: inline-block;
    background: white;
    padding-bottom: 15px;
    border: 0px black solid;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.projet:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s;
}
.projet img {
    min-width: 400px;
    height: 266px;
}
.projet .date-project {
    font-size: 0.7em;
}
.projet span {
    display: block;
    text-transform: uppercase;
}

.picture {
  width: 400px;
  height: 266px;
  overflow: hidden;
  margin-bottom: 15px;
}
.picture-projet img , .picture-projet video {
  width: 80%;
}
.dark {
    background-color: #010406;
    color: #ffffff;
  }
  .dark button {
    background: #144098;
    color: #fff;
  }
/* POLICES */  
@font-face {
    font-family: 'skymoon';
    src: url('../src/skymoon.otf') format('truetype');
}
/* MEDIA */
@media all and (max-width: 1000px) {
    .projet {
        width: 100%; margin: 15px auto;
    }
    .projet img {
        width: 100%; min-width: auto; height: auto;
    }
    .projet .picture {
        width: 100%; height: auto;
    }
    h2 {
        width: 90%;
    }
}